*{
  font-family: 'Times New Roman', Times, serif;
}

/* styles for div form login page*/

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
h2 {
  text-align: center;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  margin: auto;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #26653f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #39a278;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.LOGO {
  width: 40%;
  border-radius: 50%;
}

.container .psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}
