/* Reset styles */
* {
  margin: 3;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  margin: auto;
  margin-top: auto;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #eee9e5;
}
#Title {
  text-align: center;
  font-size: x-large;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

a {
  color: #333;
  text-decoration: none;
}

/* Styles for the navigation menu */
#top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f4f4f;
  color: #fff;
  padding: 10px;
}
.last {
  justify-content: space-between;
  align-items: center;
  background-color: #2f4f4f;
  color: #fff;
  padding: 2px 3% 1% 3%;
  margin: 0.15%;
}
#search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#center_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #696969;
  color: #fff;
  padding: 10px;
}
input[type="Search"] {
  padding: 5px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

button {
  padding: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
ul {
  margin-left: 20px;
}
details {
  margin-left: -15px;
}
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #555;
}

/* Styles for the service prices table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #111110;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #2f4f4f;
}

/* Styles for the form */
form {
  color: white;
  max-width: 600px;
  margin: 0 auto;
  background-color: #696969;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px black;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 120px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #555;
}
img {
  margin: 20px;
}
.mainpic {
  float: right;
  width: 65%;
  margin: 1%;
  border-color: rgb(129, 175, 125);
  border-style: inset;
  border-radius: 20px;
  border-width: 1px;
  box-shadow: 0px 0px 5px 0px black;
}

.cont_men {
  margin: 0% 3%;
}

.logo {
  width: 50px;
}

main {
  margin: 0% 3%;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #276d49;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
